<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>{{ site.name }}</h1>
              <p>
                I am a fourth-year Ph.D. student at <a href="http://scse.ntu.edu.sg/Pages/Home.aspx">Nanyang Technological University (NTU)</a>, advised by Prof. <a href="https://personal.ntu.edu.sg/sinnopan/index.html">Sinno Jialin Pan</a>, and closely collaborating with Prof. <a href="https://personal.ntu.edu.sg/wangwy/">Wenya Wang</a>.
              </p>
              <p>
                My recent research focuses on contextualized augmentations and their applications, particularly in retrieval-augmented language models (RALMs), Graph Retrieval, retrieval with in-context learning (ICL), and aligning retrieval with large language models (LLMs).
              </p>
              <p>
                Before entering NTU, I received my bachelor's degree at <a href="http://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a>, admitted to the <a href="https://english.seiee.sjtu.edu.cn/english/info/8338.htm">IEEE Honor class</a> and <a href="https://en.zhiyuan.sjtu.edu.cn/">Zhiyuan Honor Program</a>. I joined the <a href="http://www.apexlab.org/">Apex Data and Knowledge Management Lab</a>, advised by Prof. <a href="http://apex.sjtu.edu.cn/members/yyu">Yong Yu</a> and Prof. <a href="http://wnzhang.net/">Weinan Zhang</a>.
              </p>
              <p style="text-align:center">
                <a href="https://github.com/your-github">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=your-google-scholar">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/your-linkedin">LinkedIn</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%;border-radius:50%;" alt="{{ site.name }}" src="{{ site.baseurl }}/images/avatar.jpg">
            </td>
          </tr>
        </table>

        <h2>Internships</h2>
        <ul>
          <li>Jun. 2024 - Sep. 2024: Research intern at <a href="https://www.a-star.edu.sg/i2r">I2R, A*STAR</a>, advised by <a href="https://sites.google.com/site/nancyfchen/home">Nancy F. Chen</a></li>
          <li>Mar. 2020 - Nov. 2020: Research intern at ByteDance AI Lab, advised by Prof. <a href="https://lileicc.github.io/">Lei Li</a></li>
          <li>Jul. 2019 - Dec. 2019: Visiting intern at UCLA NLP lab, advised by Prof. <a href="http://web.cs.ucla.edu/~kwchang/">Kai-Wei Chang</a></li>
        </ul>

        <h2>Recent News</h2>
        <ul>
          <li>Jul. 2024: Paper on in-context learning accepted at COLM 2024.</li>
          <li>Jun. 2024: Started internship at A*STAR.</li>
          <li>Oct. 2023: Paper on retrieval augmentation accepted at EMNLP 2023.</li>
        </ul>

        <h2>Awards</h2>
        <ul>
          <li>Zhiyuan Honor Degree in Computer Science, 2020</li>
          <li>Shanghai Scholarship (top 3%), 2018</li>
          <li>Matsushita Electric Education Scholarship (top 5%), 2017</li>
        </ul>

        <br />
        <br />
        <div align="center">
          <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=080808&w=450&t=n&d=S4ltOOOb5hNqfuuCWdgDqsaGD0v1lIU0YFRyXTX7W5E&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080"></script>
        </div>
        <br />
        <br />
      </td>
    </tr>
  </table>
</body>
</html>
